loader.entrypoint = "file:libsysdb.so"
libos.entrypoint = "chiff_bench"
[fs]
mounts = [
    { path = "/", uri = "file:.", type = "chroot", options = ["ro"] }
]
sys.stdout = "file:stdout"
sys.stderr = "file:stderr"
